
<div class="row copy-section mobileImage error background" style="background-image: url({{background}}); height: 100vh;
        background-size: cover;
        width: 100%;
        max-width: initial;">
    <div class="col-md-4 section_botText left" style="width:100%; text-align: center; max-width: 100%; flex: initial; color:#fff;">
        <h1 style=" padding: 6% 0 0 0;font-weight: bold;letter-spacing: -0.1vw;line-height: 1.25em;text-transform: uppercase;">{{title}}</h1>
        <div style=" letter-spacing: 1.1px;line-height: 2.5rem;">{{{content}}}</div>
    </div>
</div>
