

Welcome wallet <b>{{param.username}}</b>!
<br />
<br />
You are logged-in!
<br />
Authenticated with provider <b>{{param.provider}}</b> via wallet <b>{{param.wallet_id}}</b>

<br />
<br />

<a href="/auth/logout">
    <button 
        class="signin-btn btn social-btn btn-primary"
        style="background-color: #28c4cc;" 
        tabindex="5"
    >
        Logout
    </button>
</a>