:root {
  --app-dark-text: #3f272f;
  --app-light-text: #fafafa;
  --app-light: #f8f8ff;
  --app-light-alt: #eeeef9;

  --app-disabled: #aaa;
  --app-disabled-alt: #ccc;
  --app-disabled-dark: #888;

  --app-danger: #ff6a50;

  --app-accent-1-lighter: #e4e5ff;
  --app-accent-1-light: #c1c3ff;
  --app-accent-1: #a2a4ff;
  --app-accent-1-shadow: #c9cbff;
  --app-accent-1-dark: #777bff;
  --app-accent-1-darker: #5b4ce2;

}

body {
  overflow-y: hidden;
}

.noshow {
  display: none !important;
}

.semiOpaque {
  position: static;
  top:0;
  left: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  background-color: #333;
  z-index: 1000;
}

.dialog {
  z-index: 1001;
  width: calc(40% + 120px);
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  background: rgba(255,255,255,0.85);
  color: var(--dark-text);
  box-shadow: 0px 6px 22px var(--shadow);
  overflow: hidden;
}

.dialog .header {
  padding: 0 12px;
  background-color: #f8f8fb;
  display: flex;
  border-bottom: 1px solid #eee;
}

.dialog .content {
  display: table;
  min-height: 100px;
  text-align: center;
  padding: 12px;
  background-color: #fff;
  width: calc(100% - 24px);  
}

.dialog .content span {
  display: table-cell;
  vertical-align: middle;
}

.btn {
  margin: 8px;
  padding: 4px;
  cursor: pointer;
  user-select: none;
}

.btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.connectContainer {
  display: block;
  margin:12px;
  border: 1px solid #888;
}

.connectContainer ul {
  list-style-type: none;
}

.connectContainer li {
  margin-bottom: 6px;
}

/* 
  Admin section of app 
*/

.adminPanel {
  overflow: hidden;
  color: #111;
}

.adminPanel-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #888;
  min-height: 48px;
  font-size: 14px;
  padding: 4px 8px;
  color: #555;
}

.adminPanel-header .logo{
  margin-bottom: 0;
  position: absolute;
  top: 6px;
  left: 6px;
  height: 48px;
  width: 48px;
}
.adminPanel-header .connected{
  font-size:12px;
  display: inline-flex;
}

.adminPanel-header .btn {
  background-color:var(--app-accent-1-lighter);
  color: var(--app-dark-text)
}

.adminPanel-header .btn.selected {
  background-color: var(--app-accent-1-dark);
  color: var(--app-light-text)
} 

.adminPanel-header .btn-tiny:hover, .adminPanel-header .btn-tiny:active {
  background-color: var(--app-accent-1-darker);
  color: var(--app-light-text);
}


.adminPanel-content {
  position: relative;
  padding: 0px;
  margin: 0px;
  height: calc(100vh - 110px);
} 

.adminPanel-selector {
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 166px;
  height: 100%;
  display: inline-block;
  background-color: var(--app-light);
}

.adminPanel-form {
  position: absolute;
  display: inline-block;
  border-left: 1px solid var(--app-light-alt);
  width: calc(100% - 155px);
  height: 100%;
  overflow-y: scroll;
}

.adminPanel-form .toolbar {
  position: relative;
  height: 42px;
  background-color: var(--app-accent-1-lighter);
  border-bottom: 1px solid #ddd;
}

.adminPanel-form .toolbar .btn-tiny {
  margin:3px 6px;
  background-color: var(--app-light);
  color: var(--app-dark-text);
}
.adminPanel .toolbar .btn-tiny:hover, .adminPanel .toolbar .btn-tiny:active {
  background-color: var(--app-light-alt);
}


.panel-list{
  margin: 6px;
  display: inline-block;
  list-style: none;
  padding-inline-start: 0;
}

.domain-selector {
  position: relative;
  text-align: center;
  padding: 8px;
  margin: 4px;
  min-width:124px;
  min-height:124px;
  border: 1px solid var(--disconnected-dark);
  background-color: var(--disconnected);
  cursor: pointer;
  overflow: hidden;
  line-height: 18px;
  display: inline-block;
}


.domain-selector.selected {
  background-color: var(--app-accent-1-lighter);
  border: 1px solid var(--app-accent-1-dark);
}

.domain-selector .domain-logo {
  max-height: 64px;
  max-width: 64px;
  padding: 8px 0 16px 0;
}

.domain-selector .domain-name {
  font-size: 14px;
  font-weight: bold;
}

.domain-selector .domain-url {
  font-size: 10px;
}

.siww_configure-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.adminPanel-form .container {
  margin: 12px;
  color:#333;
  margin: 12px auto;
  text-align: left;
  width: max-content;
}

.row-list .row {
  margin: 2px 0 12px auto;
  display: block;
}

.row .label {
  display: inline-block;
  min-width: 120px;
  font-size: 14px;
  text-align: left;
}


.row .value {
  display: inline-block;
  width: 240px;
  color: #333;
}
.row.compulsory .value {
  width: calc(240px - 16px);
}

.row .icon { 
  display: none;
}
.row.compulsory .icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  display: inline-block;
}

.row.compulsory .icon.large {
  width: 24px;
  height: 24px;
  position: relative;
  top: 7px;
}

.adminPanel-form .container .category {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding-top: 12px;
}

.adminPanel-form .container .preview {
  width: calc(100% - 24px);
  margin: 12px;
  border: 1px solid #333;
  background-color: #fafafa;
  min-height: 320px;
  height: calc(100% - 76px);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 3px 6px var(--shadow);
  z-index: 1000;
}

.appSummary {
  margin:12px;
  padding:6px 12px 0 12px ;
  border: 1px solid #ccc;
  border-radius: 12px;
  float: left;
  min-width: 320px;
}

.appStats {
  float: left;
  clear: both;
  margin:12px;
  width: 100%;
  border-top: 1px solid #ccc;
}

.preview .btn-close {
  position: absolute;
  padding: 8px 16px;
  font-size: 14px;
}

.preview .btn-close.top.left {
  top: 0;
  left: 0;
}

.preview .btn-close.bottom.right {
  bottom: 0;
  right: 0;
}

.adminPanel-form .container .addAuthorization {
  position: fixed;
  top: 25%;
  left: 10%;
  width: 80%;
}

.siww_warning_banner  {
  background-color: yellow;
  font-weight: bold;
  text-align: center;
  border: 1px solid #888;
  margin: 4px;
}

@media screen and (max-width: 767px) {
 
  .adminPanel-selector {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100vw;
    max-height: 172px;
    max-width: initial;
    display: block;
  }
  
  .adminPanel-form {
    border-left: none;
    border-top: 1px solid var(--app-light-alt);
    width: 100%;
    height: calc(100% - 178px);
  }
  
  .domain-list {
    display: inline-flex;
    max-height: 156px;
    width: calc(100% - 12px);
  }

  .adminPanel-form .container .label {
    min-width: 100px;
  }
  .adminPanel-form .container .row .value {
      width: 200px;
    }

  .adminPanel-form .container .row.compulsory .value {
      width: calc(200px - 16px);
    }


}