
:root {
    --dark-text: #3f272f;
    --light: #f2fdff;
    --light-alt: #def7fa;

    --accent-1-lighter: #1AAEF8;
    --accent-1-light: #0791D7;
    --accent-1: #045E8B;
    --accent-1-dark: #034A6D;

    --accent-2-light: #D70791;
    --accent-2: #8B045E;
    --accent-2-dark: #6D034A;

    --accent-3-light: #91D707;
    --accent-3: #5E8B04;
    --accent-3-dark: #4A6D03;

    --shadow: rgba(63,39, 47, 0.5);
    
    --selected:  #c0c0f0;;
    --selected-dark: #ccc;
    --connected:  #c0f0c0;;
    --connected-dark: #ccc;
    --disconnected: #f8f8f8;
    --disconnected-dark: #e0e0e0;
    --disabled: #ffa0a0;
    --disabled-dark: #990000;

    --scroll-bar-bg-color: transparent;
    --scroll-bar-color: #aaa;

    --green: #20e720;
    --orange: #ffbb55;
    --red: #ff6a50;
    --grey: #ccc;
}

body {
    font-family: Inter, sans-serif;
    color: #78798f;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 500;
    margin: 0;
}

a {
    color: var(--accent-1);
}

h1 a {
    color: #78798f;
    text-decoration: none;
}

::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
    border: 3px solid var(--scroll-bar-bg-color);
}

.hidden {
    display: none;
}

.align-right {
    text-align: right;
    width:100%;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
    width:100%;
}

.green {
    color: var(--green) !important;
}
.red {
    color: var(--red) !important;
}

.bold {
    font-weight: bold !important;
}

.siww-oauth-login {
    font-size: 85%;
}

.siww-section {
    font-size: 85%;
    padding-top:12px;
    text-align: left;
}

#appAuthByQRCode {
    display: none;
}

.siww-header {
    border-bottom: 1px solid #eee;
}

.siww-header .siww-panel {
    display: flex;
    background: transparent;
}

.siww-footer {
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
}

.modal .siww-footer {
    position: relative;
}

.siww-footer .credits {
    padding: 8px 8px 0 0;
    text-align: right;
    font-size: 12px;
    line-height: initial;
}
.siww-footer .disclaimer {
    margin: 10px;
    font-size: 9px;
    font-style: italic;
    line-height: 12px;
}

.siww-footer .message{
    font-style: italic;
    left: 14px;
    font-size: 10px;
    color: #666;
    padding: 6px 0 12px 6px;
    line-height: initial;
}

#siww-login-container {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--light);
    background-position: center;
    background-size: cover;
    overflow: scroll;
    color: var(--dark-text);
    font-size: 20px;
}

.siww_message {
    padding: 0;
    margin: 0;
    min-height: 80px;
    position: relative;
    overflow: hidden;
}
.transitoryMessage {
    text-align: center;
    padding: 12px 0;
    font-size: 18px;
    line-height: 24px;
}
.connectCont {
    overflow-x: scroll;
}
.connectWallets{
    height: 80px;
    margin: 6px;
    display: inline-flex;
    list-style: none;
    padding-inline-start: 0;
}

.siww-oauth-legend {
    text-align: right;
    display: inline-flex;
    position: relative;
}

.modal-login .siww-oauth-legend {
    width: 100%;
}

.siww-oauth-legend .legendSquare {
    width: 10px;
    height: 10px;
    display: inline-flex;
    display: inline-flex;
    margin: 0 4px 0 16px;
}
.siww-oauth-legend .legendSquare.disabled{
    border: 1px solid var(--disabled-dark);
    background-color: var(--disabled);
}
.siww-oauth-legend .legendSquare.selected{
    border: 1px solid var(--selected-dark);
    background-color: var(--selected);
}
.siww-oauth-legend .legendSquare.connected{
    border: 1px solid var(--connected-dark);
    background-color: var(--connected);
}
.siww-oauth-legend .legendSquare.disconnected{
    border: 1px solid var(--disconnected-dark);
    background-color: var(--disconnected);
}
.siww-oauth-legend .legendText {
    display: inline-flex;
    font-size: 9px;
    line-height: 14px;
}

.siww-oauth-datashare {
    min-height: 180px;
}

.domain-list{
    height: 140px;
    margin: 6px;
    display: inline-flex;
    list-style: none;
    padding-inline-start: 0;
}

.domain-panel {
    position: relative;
    text-align: center;
    padding: 8px;
    margin: 4px;
    min-width:124px;
    min-height:124px;
    border: 1px solid var(--disconnected-dark);
    background-color: var(--disconnected);
    cursor: pointer;
    overflow: hidden;
    line-height: 18px;
}

.domain-panel .domain-logo {
    max-height: 64px;
    max-width: 64px;
    padding: 8px 0 16px 0;
}

.domain-panel .domain-name {
    font-size: 14px;
    font-weight: bold;
}

.domain-panel .domain-url {
    font-size: 10px;
}

.domain-checked {
    position: absolute;
    top: 4px;
    right:4px;
}

.wallet-sign {
    margin: 0 6px;
    border: 1px solid var(--disconnected-dark);
    background-color: var(--disconnected);
    cursor: pointer;
}

.wallet-sign.disabled {
    border: 1px solid var(--disabled-dark);
    background-color: var(--disabled);
}

.wallet-sign.connected {
    border: 1px solid var(--connected-dark);
    background-color: var(--connected);
}

.wallet-sign.selected {
    border: 1px solid var(--selected-dark);
    background-color: var(--selected);
    box-shadow: 0px 3px 6px var(--shadow);
}

.connectWalletLogoContainer {
    height: 80px;
    width: 64px;
    position: relative;
}
.connectWalletLogoContainer.connecting {
    height: auto;
}
.connectWalletLogo{
    max-height:32px;
    max-width:32px;
    padding: 6px 12px;
}

.connectWalletLogo.connecting {
    font-size: 180%;
    padding: 0;
    margin: 24px auto 0 auto;
}

.connectWalletTitle{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    font-size: 16px;
    text-align: center;
}

.wallet-sign.connected .connectWalletTitle {
    font-weight: bold;
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modalContainer.blur{
    opacity:0.8;
    background-color: #888;
}

.modal-login {
    width: calc(40% + 120px);
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
    background: rgba(255,255,255,0.85);
    color: var(--dark-text);
    box-shadow: 0px 6px 22px var(--shadow);
    overflow: hidden;
}
.modal-login.dark-mode {
    background: rgba(0,0,0,0.5);
    color: var(--light);
}

.siww-panel {
    padding: 12px 20px;
    text-align: center;
    background: rgba(255,255,255,0.7);
}
.siww-panel.left {
    text-align: left;
}

.siww-panel.dark-mode {
    background: rgba(0,0,0,0.7);
    color: var(--light);
}

.login-separator {
    padding:50px 0 0 0;
    margin: 0 24px;
}
.separator {
    margin: 5px;
    padding: 5px;
}
.progressBarContainer {
    width: 100%;
    height: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.client-login-info {
    display: flex;
    flex-direction: row;
}

.client-login-logo {
    margin: 6px;
    height: 80px;
}
.display-app-logo {
    position: relative;
    margin: auto;
    width:125px;
}

.display-app-logo .login-subtitle{
    font-size: 70%;
    line-height: 20px;
}

.actionLink {
    font-size: 12px;
    text-align: left;
    width: fit-content;
    cursor: pointer;
    color:#045E8B;
}

.actionLink.back {
    position: absolute;
    left: 2px;
    bottom:-4px;
}

.actionLink.preview {
    font-size: 9px;
    position: absolute;
    right: 2px;
    bottom: 0;
    height: 20px;
}

.scopes-list {
    font-size: 0.8em;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    text-align: left;
    list-style: none;
    display: table;
    padding-inline-start: 20px;
}
.scopes-list li {
    margin-bottom: 0;
    display: table-row;
}

.scopes-list li .group {
    line-height: 16px;    
}

.scopes-list .scope-name{
    display: table-cell;
    min-width: 120px;
    color: #555;
}

.scopes-list .scope-value{
    display: table-cell;
    color: #aaa;
    font-size: 12px;
}

.scopes-list .scope-property{
    display: table-cell;
    color: #aaa;
    font-size: 12px;
}

.siww-oauth-authorize {
    border: 1px solid var(--shadow);
    border-radius: 5px;
    background: #fafafa;
}

.qrError {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.identitySelection_container {
    text-align: left;
    margin: 6px 0 18px 24px;
}

.identity_image {
    width:32px;
    padding: 0 16px 0 0;
    vertical-align: bottom;
}

.identity_list {
    font-size: 20px;
}

.identity_action {
    display: block;
    position: relative;
    width: 100%;
    text-align: right;
}

/* Buttons */
.btn-alt {
    background: var(--accent-2) !important;
    border-color: var(--accent-2) !important;
    color: #fff;
}
.btn {
    font-size: 16px;
    padding: 16px 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 80px;
    cursor: pointer;
}
.btn.right {
    float: right;
}
.btn-tiny {
    padding: 2px 16px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    background-color: #fafafa;
}
.btn-primary {
    background-color: var(--accent-2);
    color: var(--light);
    border: 1px solid var(--shadow);
}
.btn-quiet {
    background-color: var(--light);
    border: 1px solid var(--shadow);
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #f0f0f0;
}

.btn-primary:hover, .btn-primary:active, .btn-quiet:hover .btn-quiet:active{
    background-color: var(--accent-2-dark);
}

.center-vh {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer {
    text-align: center;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-link {
    text-decoration: none;
}

.footer-version{
    position: absolute;
    bottom: 0;
    right: 8px;
    font-size: 8px;
    color: #888;
}

.siww-login-download {
    display: flex;
    justify-content: center;
    align-items: center;
}

.siww-login-download .extapp-download-button {
    text-align: center;
    display: inline-block;
    min-width: 100px;
    min-height: 30px;
    padding-top: 6px;
    margin: 16px 6px;
    border-radius: 80px;
    background-color: var(--accent-1);
    box-shadow: 0 17px 38px -12px var(--shadow), 0 2px 12px -10px rgba(5, 9, 41, 0.13);
    -webkit-transition: box-shadow 350ms ease, background-color 350ms ease, color 350ms ease, -webkit-transform 350ms ease;
    transition: box-shadow 350ms ease, transform 350ms ease, background-color 350ms ease, color 350ms ease, -webkit-transform 350ms ease;
}

.siww-login-download .extapp-download-button img {
    width: 66%;
}

@media screen and (max-width: 767px) {
    .footer {
        display:none;
    }

    .modal-login {
        width: 90%;
    }
}

/* on mobile devices */
@media screen and (max-width: 414px) {
    .center-vh {
        width:100%;
        top: 25%;
        left: 0;
        transform: none;
        border-radius: 0;
    }

    .client-login-logo {
        height: 70px;
    }

    .display-app-logo {
        width: 90px;
    }

    .display-app-logo .login-subtitle{
        font-size: 65%;
    }
}


/* launch app from URL */

/* we are on a mobile device */
@media (pointer:none), (pointer:coarse) {
    #refresh-qr-button{display: none;}
    #appAuthByQRCode {display: inline-block;}
}



/* switch UI  - from https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--selected);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--selected);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .siww_configure-header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #888;
    min-height: 64px;
    font-size: 14px;
    padding: 4px 8px;
    color: #555;
  }

  .siww_configure-header h1{
    margin-bottom: 0;
  }
  .siww_configure-header .connected{
    font-size:12px;
    display: inline-flex;
  }

  .siww_configure-body {
    position: relative;
    overflow-y: scroll;
    max-height: calc(100vh - 212px);
  }

  .siww_configure-footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .siww_configure {
    margin: 12px;
    color:#333;
    margin: 12px auto;
    text-align: center;
    width: max-content;
  }
  
  .siww_configure .row {
    margin: 2px 0 12px auto;
    display: block;
  }

  .siww_configure .label {
    display: inline-block;
    min-width: 120px;
    font-size: 14px;
    text-align: left;
  }

  .hint {
    display: block;
    font-size: 11px;
    line-height: 11px;
    font-style: italic;
    color: #888;
  }

  .siww_configure .row .value {
    display: inline-block;
    width: 240px;
    color: #333;
  }
  .siww_configure .row.compulsory .value {
    width: calc(240px - 16px);
  }

  .siww_configure .row .icon { 
    display: none;
  }
  .siww_configure .row.compulsory .icon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    display: inline-block;
  }

  .siww_configure .category {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-top: 12px;
  }

  .siww_configure .preview {
    width: calc(100% - 24px);
    margin: 12px;
    border: 1px solid #333;
    background-color: #fafafa;
    min-height: 320px;
    height: calc(100% - 76px);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 6px var(--shadow);
    z-index: 1000;
  }

  .siww_configure .preview .btn-close {
    position: absolute;
    padding: 4px 16px;
    font-size: 14px;
  }

  .siww_configure .preview .btn-close.top.left {
    top: 0;
    left: 0;
  }

  .siww_configure .preview .btn-close.bottom.right {
    bottom: 0;
    right: 0;
  }

  .siww_warning_banner  {
    background-color: yellow;
    font-weight: bold;
    text-align: center;
    border: 1px solid #888;
    margin: 4px;
  }